<h3>Justififcation</h3>
<p>
  You can justify content using the CSS <i>justify-content</i> property. Some of the valid values of this are:
</p>
<li><strong>flex-start</strong>: This is the default and will align items with the start of the main axis.</li>
<li><strong>flex-end</strong>: Aligns items with the <i>end</i> of the main axis.</li>
<li><strong>center</strong>: (Not <i>flex-center</i>, just <i>center</i>.) This center aligns items.</li>
<li><strong>space-between</strong>: Distributes items evenly.</li>
<li><strong>space-around</strong>: Like <i>space-between</i>, but adds spacing around the edges.</li>
<li><strong>space-evenly</strong>: Evenly distributes space in between all items.</li>
<p>
  This is not a complete list. More information can be found <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content" target="_blank">here</a>.
</p>
<p>
  Here are some examples. We've already seen <i>flex-start</i> (the default) in previous sections.
</p>

<h4>flex-end</h4>
<div class="flex-container" style="justify-content: flex-end;">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
</div>
<hr>

<h4>center</h4>
<div class="flex-container" style="justify-content: center;">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
</div>
<hr>

<h4>space-between</h4>
<div class="flex-container" style="justify-content: space-between;">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
</div>
<hr>

<h4>space-around</h4>
<div class="flex-container" style="justify-content: space-around;">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
</div>
<hr>

<h4>space-evenly</h4>
<div class="flex-container" style="justify-content: space-evenly;">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
</div>