<h3>Exercise</h3>
<p>
  This is all a lot to learn and can take time to get the hang of. For now, try to modify the styles for the items in the 
  container below so that:
</p>
<p>
  <li>The first three items expand to fill the whole row. (Hint: These 3 items will need to <i>grow</i>.)</li>
  <li>The second three have their own row and are centered vertically with space evenly distributed between them. (Hint: You can accomplish this at the <i>container</i> level.)</li>
  <li>The last three have their own row, with the first item having a growth factor of 2. (Hint: Accomplish this at the <i>item</i> level.)</li>
</p>
<p>
  This will require creating new style classes, or applying inline styles to override the <i>item</i> class.
</p>

<div class="flex-container">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
  <div class="item">5</div>
  <div class="item">6</div>
  <div class="item">7</div>
  <div class="item">8</div>
  <div class="item">9</div>
</div>
