.flex-container {
  display: flex; 
  width: 600px;
  height: 300px; 
  border-style: solid;
  justify-content: flex-start;
  flex-direction: row;
}

.item {
  color: black;
  background-color: orange;
  border-style: double;
  border-color: black;
  width: 100px;
}