<h3>Alignment and Wrap</h3>
<p>To align items along the Cross Axis, use the <i>align-items</i> CSS property. Some valid values for this are:</p>
<li><strong>flex-start</strong>: Aligns items at the start of the Cross Axis.</li>
<li><strong>flex-end</strong>: Aligns items at the end of the Cross Axis.</li>
<li><strong>center</strong>: Aligns items at the center of the Cross Axis.</li>
<li><strong>baseline</strong>: Aligns items so that their <a href="https://drafts.csswg.org/css-flexbox-1/#flex-baselines" target="_blank">flex container baselines</a> align.</li>
<p>This is not a complete list. For more information, check out <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/align-items" target="_blank">this documentation</a>.</p>
<p>Also important is the <i>flex-wrap</i> property. This defaults to <i>nowrap</i>, which will try to place everything on the same line. But by setting this to <i>wrap</i>, the items will wrap when they need to.</p>

<p>The <i>flex-wrap</i> and <i>align-items</i> properties are applied at the <i>container</i> level.</p>

<h4>Container with flex-wrap: nowrap (default)</h4>
<div class="flex-container" style="align-items: flex-start; flex-wrap: nowrap;">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
</div>

<h4>Container with flex-wrap: wrap</h4>
<div class="flex-container" style="align-items: flex-start;">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
</div>
<hr>

<p>Here are some examples of <i>align-items</i>:</p>
<h4>flex-start</h4>
<div class="flex-container" style="align-items: flex-start;">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
</div>
<hr>

<h4>flex-end</h4>
<div class="flex-container" style="align-items: flex-end;">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
</div>
<hr>

<h4>center</h4>
<div class="flex-container" style="align-items: center;">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
</div>
<hr>

<h4>baseline</h4>
<div class="flex-container" style="align-items: baseline;">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
</div>
