.flex-container {
  display: flex; 
  width: 600px;
  height: 100px; 
  border-style: solid;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item {
  width: 200px;
  color: black;
  background-color: fuchsia;
  border-style: double;
  border-color: black;
}