<h3>The Axises</h3>
<p>Flexbox layouts are defined along two axes: the main axis and the cross axis.</p>
<p>
  <li><strong>Main Axis:</strong> This is the primary axis along which flex items are aligned. 
    You can set it to be horizontal (default) or vertical using the <i>flex-direction</i> CSS property. 
    Use a value of "row" for horizontal, or "column" for vertical.</li>
  <li><strong>Cross Axis:</strong> This is the perpendicular axis to the main axis.</li>
</p>
<p>The <i>flex-direction</i> property is applied at the <i>container</i> level.</p>
<p>In the previous section, we displayed elements across the horizontal axis. Below, we use 
  the vertical axis instead.</p>
<div style="display: flex; flex-direction: column; width: 600px; border-style: solid;">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
</div>
<p>And here is the code for the container and elements.</p>
<pre><code>
&lt;div style="display: flex; flex-direction: column; width: 600px; border-style: solid;"&gt;
  &lt;div class="item"&gt;1&lt;/div&gt;
  &lt;div class="item"&gt;2&lt;/div&gt;
  &lt;div class="item"&gt;3&lt;/div&gt;
&lt;/div&gt;  
</code></pre>

