<h3>Introduction</h3>
<p>
  Flexbox is a simple way of implementing responsive design using CSS. This application will provide a tutorial followed by 
  an exercise on how to use it.
</p>
<p>
  You can read more about Flexbox <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox">here</a>.
</p>
<p>
  You can watch a great, short video explaining it all <a target="_blank" href="https://www.youtube.com/watch?v=phWxA89Dy94">here</a>.
</p>