<div class="title-banner">
  <h1>Flexbox</h1>
  <p>An introduction and exercise for learning the concepts behind responsive design using Flexbox</p>
</div>
<div class="flex-container">
  <div class="flex-item"><a routerLink="intro" routerLinkActive="active-route">Introduction</a></div>
  <div class="flex-item"><a routerLink="pieces" routerLinkActive="active-route">The Pieces</a></div>
  <div class="flex-item"><a routerLink="axises" routerLinkActive="active-route">Axises</a></div>
  <div class="flex-item"><a routerLink="justify" routerLinkActive="active-route">Justification</a></div>
  <div class="flex-item"><a routerLink="align" routerLinkActive="active-route">Align/Wrap</a></div>
  <div class="flex-item"><a routerLink="flex" routerLinkActive="active-route">Flex</a></div>
  <div class="flex-item"><a routerLink="other" routerLinkActive="active-route">Other Stuff</a></div>
  <div class="flex-item"><a routerLink="exercise" routerLinkActive="active-route">An Exercise</a></div>
</div>
<router-outlet></router-outlet>
