<h3>The Pieces</h3>
<p>When working with Flexbox, there are the following pieces:</p>
<li><strong>Container</strong> - This is an HTML element with the CSS <i>display: flex</i> property applied to it.</li>
<li><strong>Items</strong> - These are the items within the container, which will be 
  displayed either in rows or columns (more on that later), and which you may want to resize 
  proportional to the container and each other.
</li>
<p>Here is a container with some items in it:</p>
<div style="display: flex; width: 600px; border-style: solid;">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
</div>
<p>And here is the code for the container and elements.</p>
<pre><code>
&lt;div style="display: flex; width: 600px; border-style: solid;"&gt;
  &lt;div class="item"&gt;1&lt;/div&gt;
  &lt;div class="item"&gt;2&lt;/div&gt;
  &lt;div class="item"&gt;3&lt;/div&gt;
&lt;/div&gt;  
</code></pre>
<p>
  <strong>Additionally</strong>, the menu options shown above ("Introduction", "The Pieces", etc) are within a flex container. 
  If you change the size of your browser window, you'll see the items shift and move accordingly.
</p>